---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import imageCard from '../assets/images/image-card.jpg';
import imageCard2 from '../assets/images/image-card-2.jpg';
import imageCard3 from '../assets/images/image-card-3.jpg';
import imageCard4 from '../assets/images/image-card-4.jpg';
import imageCard5 from '../assets/images/pic-1.jpg';
import imageCard6 from '../assets/images/pic-2.jpg';

const metadata = {
  title: 'Tshosmm.uz - Sport maktabi',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Instagram',
        href: 'https://www.instagram.com/tshosmm_oliy_sport_mahorati',
        target: '_blank',
        icon: '',
      },
      { text: 'Bizning faoliyat', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'tshosmm-uz' }}
  >
    <Fragment slot="title">
      <span class="text-blue-500">Sport</span>
      <span class="hidden xl:inline"
        >Bu sohada erishilgan yutuqlar mamlakatni dunyoga tanitadi, barcha yurtdoshlarga g'urur-iftixor bag'ishlaydi.</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold"></span>
      </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span>
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Faoliyatimiz"
    title="Faoliyatimiz haqida qisqacha"
    items={[
      {
        title: 'Kuchli va tajribali murabbiylar',
        description:
          "Spaort maktabimizda Badminton,Stol tennis ,Tennis ,Taekwondo WT ,Velosport,Regbi,Qilichbozlik,Boks,Dzyudo,Basketbol ,Erkin kurash,Para paurlifting kabi sport turlari o'rganiladi. Har bir talaba o'zining sevimli sportini topib, jamoatda o'zining eng yaxshi darajasiga erishishga intiladi.",
      },
      {
        title: "Sportning turli yo'nalishlarida natijalar",
        description:
          "Haftalik sport mashg'ulotlarimiz yosh talabalarga mazmunli va energiyali bo'lib, jamoamizni o'zaro hamkorlik va yengillik ruhida birlashtiradi. Har bir sportchi o'zining qobiliyatini o'rganib, jismoniy va ma'naviy rivojlantiradi",
      },
      {
        title: 'Chempionlarni yetishtirish',
        description:
          "Biz chempionlarni yetishtirishda juda ehtiyotkor qarorlar qabul qilamiz - har bir talaba o'zining kuchlarini, qobiliyatlarini va potentsialini boshqarish uchun maxsus dasturlar va yo'nalishlar tuzilgan.",
      },
    ]}
    image={{
      src: imageCard,
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 id="features" class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Sport maktabning asosiy faoliyati
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    tagline="maktabimizda"
    title="Yutuqlarimiz"
    items={[
      {
        title: "O'zbekiston",
        description: `100 dan ortiq O'zbekiston chempionlari va sport ustalarini yetishtirgan`,
      },
      {
        title: 'Osiyoda',
        description: `Osiyo o'yinlarida har mavsumda faxrli o'rinlarni qo'lga kiritamiz`,
      },
      {
        title: 'Jahon chemionatlarida',
        description: 'Jahon chempionlarini yetishtirgan va yetishtirib kelayotgan maktab',
      },
      {
        title: 'Olimpiadalarda',
        description: `Olimpiada chempionlari va doimiy natijalarimiz `,
      },
    ]}
    image={{
      src: imageCard2,
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Sportchining yutularida maktab va murabbiyning o'rni baland!</Fragment>

    <Fragment slot="bg">
      <div id="maktab" class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Ozoda Sobirjonova',
        description: 'Sportning "Taekvondo WT" yo\'nalishida 67kg vaznda ',
      },
    ]}
    image={{
      src: imageCard3,
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">PARIS 2024</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Qanday qilib maktabda faoliyatimni boshlsam bo'ladi?"
    items={[
      {
        title: '1-qadam: <span class="font-medium">Tanlash</span>',
        description:
          "Shaxsning qiziqishi va qobiliyati: Har bir kishi o'zining qiziqishi va qobiliyatiga mos sport turini tanlaydi. Masalan, kimilarning yog'inga, boshqalarining esa futbollarga qiziqishi bo'lishi mumkin.",
        icon: 'tabler:number',
      },
      {
        title: '2-qadam: <span class="font-medium">Boshlash</em>',
        description:
          "O'zingizning jismoniy va jismoniy qobiliyatlaringizni, shuningdek sportni amalga oshirish uchun kerak bo'lgan ma'lumotlar va vositalarni hisobga oling. Agar sportni amalga oshirish uchun malakangiz yoki zaruratga ega bo'lgan uskunalar mavjud bo'lmasa, ulardan oling.",
        icon: 'tabler:heart',
      },
      {
        title: '3-qadam: <span class="font-medium">Muntazam bajarish</span>',
        description:
          "Muntazam mashg'ulotchi bo'lishda sabr va istiqomatlilik juda muhimdir. Bir kun o'z vaqtingizni ajratib, sportga qarash, qo'llab-quvvatlash vositalarini ishlatish va jismoniy rivojlanishingizni kuzatib boring. Bu yo'lda, siz o'zingizga o'rganish, rivojlanish va muvaffaqiyatga erishish imkoniyatini oshirishingiz mumkin.",
        icon: 'tabler:book',
      },
      {
        title: 'Natija!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: imageCard5,
      alt: 'Steps image',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Ustozlar', amount: '134' },
      { title: 'Sport turlari', amount: '12' },
      { title: 'Bitiruvchilar', amount: '2390' },
      { title: 'Olimpiadachilar', amount: '122' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'E-mail',
        href: 'mailto:khodieff@gmail.com',
        target: '_blank',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      Tshosmm.uz - <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Sport maktabi</span>
    </Fragment>

    <Fragment slot="subtitle">
      qanday qilib bizga bog'lanishingiz mumkin <br class="hidden md:inline" /> E-mailimiz
    </Fragment>
  </CallToAction>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2999.769757297986!2d69.30817907605261!3d41.24857297131782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDHCsDE0JzU0LjkiTiA2OcKwMTgnMzguNyJF!5e0!3m2!1suz!2s!4v1714211980437!5m2!1suz!2s"
    width="100%"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</Layout>
